[submodule "docs/components/master"]
	path = docs/components/master
	url = https://github.com/thenlabs/components.git
[submodule "docs/class-builder/master"]
	path = docs/class-builder/master
	url = https://github.com/thenlabs/class-builder.git
[submodule "docs/cli/master"]
	path = docs/cli/master
	url = https://github.com/thenlabs/cli.git
[submodule "docs/composed-views/master"]
	path = docs/composed-views/master
	url = https://github.com/thenlabs/composed-views.git
[submodule "docs/pyramidal-tests/master"]
	path = docs/pyramidal-tests/master
	url = https://github.com/thenlabs/pyramidal-tests.git
