
{% extends 'devAid/layout.html.twig' %}

{% block content %}
    <section id="docs" class="docs section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    {% block left_sidebar %}{% endblock %}

                    {% if donate is defined and donate == true %}
                        {% include 'devAid/includes/donate-sidebar.html.twig' %}
                    {% endif %}
                </div>

                <div class="col-lg-9">
                    {% block right_sidebar %}{% endblock %}
                </div>
            </div>
        </div><!--//container-->
    </section>
{% endblock %}