
{% extends 'devAid/layout.html.twig' %}

{% block content %}
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
                <h2 class="title text-center">Preguntas Frecuentes</h2>

                <div class="block">
                    <h4 class="sub-title">1. ¿Qué es ThenLabs?</h4>
                    <p>ThenLabs se podría definir como una Startup del sector de la informática dedicada a crear y gestionar proyectos de software de código abierto.</p>
                </div><!--//block-->

                <div class="block">
                    <h4 class="sub-title">2. ¿Por qué una Startup?</h4>
                    <p>Nos definimos como una Startup dado que somos un emprendimiento que recién comienza y que pensamos escalarlo de diferentes maneras a medida que se vayan alcanzando una serie de objetivos planificados.</p>
                </div><!--//block-->

                <div class="block">
                    <p class="text-center">
                        <a class="btn btn-cta-primary" href="{{ path('index') }}">Volver a la página principal</a>
                    </p>
                </div><!--//block-->
            </div><!--//docs-inner-->
        </div><!--//container-->
    </section>
{% endblock %}