
{% extends 'devAid/layout.html.twig' %}

{% block content %}
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
                <h2 class="title text-center" style="margin-bottom: 50px">Sobre ThenLabs</h2>

                <div class="block">
                    <p class="text-center">
                        <a class="btn btn-cta-primary" href="{{ path('index') }}">Volver a la página principal</a>
                    </p>
                </div><!--//block-->
            </div><!--//docs-inner-->
        </div><!--//container-->
    </section>
{% endblock %}