
{% extends 'devAid/page.html.twig' %}

{% block before_content %}
    <div class="row">
        <div class="col">
            <div style="float: right; margin-bottom: 20px">
                <a href="{{ url_doc }}" target="_blank">
                    <i class="far fa-edit"></i>
                    {{ 'improve_this_doc'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}