
{% extends 'devAid/page.html.twig' %}

{% block page_content %}
    <h5>1. Proponer ideas y opiniones.</h5>
    <p>Todos los mensajes que recibamos por parte de los usuarios serán tenidos muy en cuenta por nuestra parte. Da igual si es una crítica, idea o sugerencia. En cualquier caso vamos a sacar lo mejor con el objetivo de mejorar cada vez más.</p>
    <p>Para contactarnos usted puede escribirnos a la dirección de correo que mostramos al final de esta página.</p>

    <h5>2. Compartir nuestros artículos en redes sociales.</h5>
    <p>Otra de las formas en la que nos pueden ayudar los usuarios es compartiendo nuestros artículos en sus redes sociales. De esta forma, muchos más usuarios podrán conocernos y esto nos permitirá crecer como comunidad.</p>
    <p>Para que se pueda enterar de todas nuestras nuevas publicaciones, usted se puede suscribir a nuestros perfiles sociales los cuales aparecen también al final de esta página.</p>

    <h5>3. Contribuir código fuente.</h5>
    <p>En el caso de los usuarios con conocimientos de programación estos podrían <strong>usar nuestros proyectos para ayudarnos a descubrir y/o corregir nuevos bugs</strong> , así como también <strong>proponer nuevas características</strong> que contribuyan a mejorar los proyectos en general.</p>
    <p>Dado que nuestra razón de ser es el sofware de código abierto, todos nuestros proyectos(incluso este sitio) se pueden encontrar en nuestro perfil de <a href="{{ github_profile }}">GitHub</a>. Siéntase libre de hacer uso de los mismos.</p>
{% endblock %}
