
{% extends 'devAid/layout.html.twig' %}

{% block content %}
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
                {{ content|raw }}
            </div><!--//docs-inner-->
        </div><!--//container-->
    </section>
{% endblock %}