
{% extends 'devAid/layout.html.twig' %}

{% block content %}
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
                <h2 class="title text-center" style="margin-bottom: 50px">Conózcanos</h2>
                <p>Sea usted bienvenido al sitio web del proyecto ThenLabs. Primeramente queremos aclarar que somos un proyecto que recién ha sido concebido como tal y que por tanto nos encontramos dando nuestros primeros pasos.</p>
                <p>En nuestra página principal decimos que <strong>nos dedicamos a crear y gestionar proyectos de software de código abierto</strong> y es que ese es precisamente nuestro principal objetivo. Esto es algo que hemos estado haciendo desde hace varios años y en lo adelante pretendemos seguir haciéndolo pero con un mayor grado de planificación.</p>
                <p>Por lo general los proyectos de software de código abierto son mantenidos por comunidades de usuarios y dado que en nuestro caso contamos con varios proyectos de ese tipo aspiramos a formar una organización al respecto.</p>
                <p>En la página principal usted puede encontrar todos nuestros proyecto. Como dijimos anteriormente, algunos fueron creados en el pasado pero dado que consideramos que los mismos tienen ciertas utilidades hemos decidido retomarlos y próximamente estaremos creando nuevas versiones de los mismos.</p>
                <p>Con el objetivo de mantener una comunicación activa hemos creados varios perfiles en redes sociales donde estaremos compartiendo todas nuestras noticias, artículos, proyectos, etc. Si desea mantenerse informado puede suscribirse a las mismas usando los enlaces que encontrará en la página principal.</p>
                <div class="block">
                    <p class="text-center">
                        <a class="btn btn-cta-primary" href="{{ path('index') }}">Volver a la página principal</a>
                    </p>
                </div><!--//block-->
            </div><!--//docs-inner-->
        </div><!--//container-->
    </section>
{% endblock %}