<p>You are welcome to ThenLabs' web site. First we would like to make it clear it is a project that has been just created and that is why we are taken our first steps.</p>

<p>We said <strong>we devote ourselves to create and administer open source software projects</strong> in our home page because it is our main target. It is an activity we have been doing for lots of years and and we are trying to do it with a greater degree of planning.</p>

<p>Open source software projects are kept by communities of users generally. In our case, we have this kind of projects and we aspire to create an organization aroud this topic.</p>

<p>You can find all our projects in our home page. As we said preeviously, some of them were created in the past but because of we think them could be useful we dicided to picked it up and we will create new versions of them soon.</p>

<p>We have created social networks profiles to keep an active communication. There we will be sharing our news, articles, projects, etc. You can keep up to date following us in our social networks.</p>

{% include 'content/includes/about-links.html.twig' %}