<p>ThenLabs has been created with the chimera of becoming an organization devoted to produce open source software.</p>

<p>So far we have worked very hard, something that can be checked from our <a href="{{ path('index') }}" target="_blank">website</a>, <a href="{{ path('index') }}#socials" target="_blank">social networks</a>, <a href="https://github.com/thenlabs" target="_blank">GitHub</a>, etc. Everything has been done in our spare time since ThenLabs is not a source of employment at all.</p>

<p>However, when it comes to free time, it has not been enough lately to make as much progress as we would have wished to.</p>

<p>Therefore, the possibility of receiving monetary donations has been enabled for us to devote more time to the Project in general.</p>

<p>Given our commitment to the open source, we aspire to be financed through cryptocurrency althoug for now we only have the option of receiving bitcoins.</p>