<p>StratusPHP is a framework project and its main objective is to allow manipulating the page DOM using the PHP language.</p>

<p>This way, StratusPHP could be used for creating different kinds of modern web applications like the progressive ones (PWA) and the ones of unique page (SPA) and more.</p>

<p>However, you could see that it can be used for creating mobile applications and desktop applications. It is a great contribution to PHP ecosystem because now days this language is only used for web development. Developing mobile applications from the PHP language is going to be a considerable saving of work because the user can reutilize a lot of source code if we consider that most than 80% of web sites are based on PHP and applications’ consumption from the undersigned sites is going on.</p>

<p>The previous arguments explain how interesting and novel this PHP project is and that is why we are totally convinced that it could become a sound technological alternative for users to work with PHP.</p>

<p></p>

<ol>
    <li><a href="https://thenlabs.org/en/blog/video-to-reveal-the-development-of-new-frameork.html">Video to reveal the development of new frameork.</a></li>
    <li><a href="https://thenlabs.org/en/blog/stratus-php-communication-by-streaming.html">StratusPHP. Communication by streaming.</a></li>
    <li><a href="https://thenlabs.org/en/blog/published-the-source-code-of-stratus-php.html">Published source code of StratusPHP</a></li>
    <li><a href="https://thenlabs.org/en/blog/in-contact-with-stratus-php.html">In contact with StratusPHP.</a></li>
    <li><a href="https://thenlabs.org/en/blog/stratusphp-and-the-development-of-mobile-applications-demo.html">StratusPHP and the development of mobile applications (Demo)</a></li>
</ol>

<p>Up to now all our work has been on our free time because ThenLabs is a young project and it is not a source of employment, for now.</p>

<p>We decided to create this campaign  because of our free time is not enough to progress at the necessary speed and that is why we need to collect funds for devoting time to this project that fascinate us.</p>

<blockquote>
    <p>Supporting StratusPHP you are supporting all the others ThenLabsʹ projects because it uses as dependency all the other ones. </p>
</blockquote>

<p>If you are interested in support this project you have to know that we have an additional limitation because ThenLabs is a enterprise made up by independent programmers in Cuba. That is why we can just receive Bitcoins.  We have analyzed different online services about collection of funds and they say that ¨all countries are inclusive¨ but they never include Cuba. We are very grateful to you for understanding and for helping us.</p>

<p>Thank you very much!</p>