<p>At ThenLabs we have the chimera of becoming an entire organization dedicated to producing open source software.</p>

<p>So far we have done a lot of work and it is something that can be verified from our <a href="{{ path('index') }}">website</a>, <a href="{{ path('index') }}#socials">social networks</a>, <a href="https://github.com/thenlabs">GitHub</a>, etc. We have done everything in our spare time because ThenLabs has not been our source of employment.</p>

<p>However, lately free time is no longer enough to continue moving at the required speed, and for this reason, we have enabled the possibility of receiving monetary donations in order to dedicate more time to the project in general.</p>

<p>Given our commitment to open source we aspire to be financed with cryptocurrencies and at the moment we only have the possibility of receiving bitcoins.</p>