<a
    class="github-button"
    href="https://github.com/thenlabs/{{ project }}"
    data-color-scheme="no-preference: light; light: light; dark: light;"
    data-icon="octicon-star"
    data-size="large"
    data-show-count="true"
    aria-label="Star thenlabs/{{ project }} on GitHub"
    >Dar una estrella</a>