{% if not title is defined %}
    {% if pageTitle is defined %}
        {% set title = pageTitle ~ ' | ThenLabs' %}
    {% else %}
        {% set title = 'ThenLabs' %}
    {% endif %}
{% endif %}<!DOCTYPE html>
<html lang="es">
<head>
    <title>{{ title }}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nos dedicamos a crear y gestionar proyectos de software de código abierto.">
    <meta name="author" content="ThenLabs">
    {# <link rel="shortcut icon" href="favicon.ico"> #}

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163364401-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-163364401-1');
    </script>

    {% block styles %}{% endblock %}
</head>

<body data-spy="scroll">
    {% block body %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>