<div class="row text-center">
    <div class="col">
        <iframe data-aa="1428069" src="//ad.a-ads.com/1428069?size=468x60" scrolling="no" style="width:468px; height:60px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>
    </div>
</div>